div(ng-controller="WantedCtrl")
    .grid
        .grid__col6
            lx-select(
            placeholder="Search a video game...",
            loading="{{ ajax.loading }}",
            min-length="2"
            allow-clear="true"

            ng-model="ajax.selected"
            choices="ajax.list"
            filter="ajax.update(newValue, oldValue)"
            change="cbSelect.exec(newValue, oldValue)"
            selection-to-model="ajax.toModel(data, callback)"
            model-to-selection="ajax.toSelection(data, callback)")
                lx-select-selected {{ $selected.name }} ({{ $selected.releaseDate| date:'yyyy' }})
                lx-select-choices  {{ $choice.name }} ({{ $choice.releaseDate| date:'yyyy' }})

            br

            h1.fs-title(ng-show="wantedGames.length > 0") Wanted video games

            ul.list
                li.list-row.list-row.list-row--has-primary.list-row--has-secondary(ng-repeat="game in wantedGames")
                    .list-primary-tile

                    .list-content-tile.list-content-tile--one-line {{game.name}} ({{game.releaseDate | date:'yyyy'}})

                    .list-secondary-tile
                        button.btn.btn--xs.btn--blue.btn--fab(lx-ripple, ng-click="deleteWantedGame(game._id)",
                        lx-tooltip="Delete", tooltip-position="right")
                            i.mdi.mdi--delete

            div(ng-hide="wantedGames.length > 0")
                p No game found in your wanted list !