div
    h1.fs-title(ng-show="wantedGames.length > 0") Wanted video games ({{wantedGames.length}})

    lx-select(
    placeholder="Search a video game you want...",
    loading="{{ ajax.loading }}",
    min-length="2"
    allow-clear="true"

    ng-model="ajax.selected"
    choices="ajax.list"
    filter="ajax.update(newValue, oldValue)"
    change="ajax.exec(newValue, oldValue)"
    selection-to-model="ajax.toModel(data, callback)"
    model-to-selection="ajax.toSelection(data, callback)")
        lx-select-selected {{ $selected.defaultTitle }} ({{ $selected.releaseDates[0].date | date:'yyyy' }})
        lx-select-choices  {{ $choice.defaultTitle }} ({{ $choice.releaseDates[0].date | date:'yyyy' }}) - {{ $choice.percentage }}%

    #scan_progress

    //md-grid-list(md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6" md-row-height="1:1" md-gutter="12x" md-gutter-gt-sm="8px")
        md-grid-tile(md-rowspan="1" md-colspan="1" ng-repeat="game in wantedGames | orderBy:'name'")
            .card.no-rationale.square-cover.apps.small
                .card-content
                    .cover
                        .cover-image-container
                            .cover-outer-align
                                .cover-inner-align
                                    img.cover-image(ng-show="game.media.thumbnails[0]" ng-src="{{ game.media.thumbnails[0] }}" style="width:170px")
                                    img.cover-image(ng-hide="game.media.thumbnails[0]" src="http://niesr.ac.uk/sites/default/files/styles/large/adaptive-image/public/default_images/thumbnail-default_2_0.jpg?itok=zti20ldd")
                    .details
                        h2.title {{game.name}} ({{game.releaseDate | date:'yyyy'}})
                            span.paragraph-end
                        .subtitle-container
                            p.subtitle {{game.metacritic.score}}
    br

    ul.list
        li.card.list-row.list-row.list-row--has-primary.list-row--has-secondary(ng-repeat="game in wantedGames | orderBy:'name'")
            div(id="scan_progress_{{game._id}}")

            span.label.label-warning(ng-show="game.snatched" style="float:right; margin:30px 100px 0 0;") Snatched !

            .list-primary-tile
                img.list-primary-tile__img(ng-show="game.media.thumbnails[0]" ng-src="{{ game.media.thumbnails[0] }}")
                img.list-primary-tile__img(ng-hide="game.media.thumbnails[0]" src="http://niesr.ac.uk/sites/default/files/styles/large/adaptive-image/public/default_images/thumbnail-default_2_0.jpg?itok=zti20ldd")

            .list-content-tile.list-content-tile--one-line {{game.name}} ({{game.releaseDate | date:'yyyy'}})
                ul
                    li(style="display:inline; margin-right: 5px;" ng-show="game.metacritic.score")
                        .label.label-danger {{game.metacritic.score}}
                    li(style="display:inline; margin-right: 5px;" ng-show="game.genres[0].name")
                        .label.label-primary {{game.genres[0].name}}
                    li(style="display:inline; margin-right: 5px;" ng-show="game.developers[0].name")
                        .label.label-warning {{game.developers[0].name}}
                    li(style="display:inline; margin-right: 5px;" ng-show="game.editors[0].name")
                        .label.label-info {{game.editors[0].name}}

                ul
                    li(ng-repeat="torrent in game.torrents")
                        ul
                            li(style="display:inline; margin-right: 5px;" ng-show="torrent.name")
                                .label.label-danger {{torrent.name}}
                            li(style="display:inline; margin-right: 5px;" ng-show="torrent.releaseDate")
                                .label.label-primary {{torrent.releaseDate}}
                            li(style="display:inline; margin-right: 5px;" ng-show="torrent.team")
                                .label.label-warning {{torrent.team}}
                            li(style="display:inline; margin-right: 5px;" ng-show="torrent.version")
                                .label.label-info {{torrent.version}}

            .list-secondary-tile
                button.btn.btn--xs.btn--blue.btn--fab(lx-ripple, ng-click="updateGameInfo(game._id, game.datagamer_id)",
                lx-tooltip="Reset video game information", tooltip-position="bottom", style="margin-right: 5px")
                    i.mdi.mdi--refresh

                button.btn.btn--xs.btn--blue.btn--fab(lx-ripple, ng-click="searchTorrents(game._id)",
                lx-tooltip="Search for torrents", tooltip-position="bottom", style="margin-right: 5px")
                    i.mdi.mdi--gamepad

                button.btn.btn--xs.btn--blue.btn--fab(lx-ripple, ng-click="deleteWantedGame(game._id)",
                lx-tooltip="Delete", tooltip-position="bottom")
                    i.mdi.mdi--delete

    div(ng-hide="wantedGames.length > 0")
        br
        p.text-center(class="p+") No game found in your wanted list !

    .grid
        .grid__col12(class="p+" ng-show="datagamerCount == -1")
            #datagamer_progress
        .grid__col12.card
            div.tc-white-1(class="p+ bgc-blue-500" ng-show="datagamerCount != -1")
                p Datagamer API has currently <strong>{{ datagamerCount }}</strong> video games on his database and counting...
                p If video game does not exist in the list, Datagamer API will automatically search the game on the internet and added it to his database !
                p You just need to make an other research to see the game appear ;)

        .grid__col12.card(ng-hide="datagamerCount")
            div.tc-white-1(class="p+ bgc-red-200")
                p Something is not right with Datagamer ! Please, check your settings.