div
    button.float-right.btn.btn--l.btn--blue.btn--raised(lx-ripple, ng-click="scanNewReleases()") Scan for new releases
    .grid
        .grid__col6
            #datagamer_progress
            div.tc-white-1(class="p+ bgc-blue-500" ng-show="datagamerCount")
                p Datagamer API has currently <strong>{{ datagamerCount }}</strong> video games on his database and counting...
                p If video game does not exist in the list, Datagamer API will automatically search the game on the internet and added it to his database !
                p You just need to make an other research to see the game appear ;)

        //.grid__col7(ng-hide="datagamerCount")
            div.tc-white-1(class="p+ bgc-red-200")
                p Something is not right with Datagamer ! Please, check your settings.
    .grid
        .grid__col6
            lx-select(
            placeholder="Search a video game...",
            loading="{{ ajax.loading }}",
            min-length="2"
            allow-clear="true"

            ng-model="ajax.selected"
            choices="ajax.list"
            filter="ajax.update(newValue, oldValue)"
            change="ajax.exec(newValue, oldValue)"
            selection-to-model="ajax.toModel(data, callback)"
            model-to-selection="ajax.toSelection(data, callback)")
                lx-select-selected {{ $selected.defaultTitle }} ({{ $selected.releaseDates[0].date | date:'yyyy' }})
                lx-select-choices  {{ $choice.defaultTitle }} ({{ $choice.releaseDates[0].date | date:'yyyy' }}) - {{ $choice.percentage }}%

    .grid
        .grid__col6
            #scan_progress

            h1.fs-title(ng-show="wantedGames.length > 0") Wanted video games

            ul.list
                li.card.list-row.list-row.list-row--has-primary.list-row--has-secondary(ng-repeat="game in wantedGames")

                    span.label.label-warning(ng-show="game.snatched" style="float:right; margin-top:15px;") Snatched !

                    .list-primary-tile
                        img.list-primary-tile__img(ng-show="game.media.thumbnails[0]" ng-src="{{ game.media.thumbnails[0] }}")
                        img.list-primary-tile__img(ng-hide="game.media.thumbnails[0]" src="http://niesr.ac.uk/sites/default/files/styles/large/adaptive-image/public/default_images/thumbnail-default_2_0.jpg?itok=zti20ldd")

                    .list-content-tile.list-content-tile--one-line {{game.name}} ({{game.releaseDate | date:'yyyy'}})
                        p(ng-show="game.genres[0].name || game.metacritic.score") {{game.genres[0].name}} - {{game.metacritic.score}}
                        p(ng-show="game.developers[0].name || game.editors[0].name") {{game.developers[0].name}}, {{game.editors[0].name}}

                    .list-secondary-tile
                        button.btn.btn--xs.btn--blue.btn--fab(lx-ripple, ng-click="updateGameInfo(game.datagamer_id)",
                        lx-tooltip="Reset video game information", tooltip-position="bottom", style="margin-right: 5px")
                            i.mdi.mdi--refresh

                        button.btn.btn--xs.btn--blue.btn--fab(lx-ripple, ng-click="searchTorrents(game._id)",
                        lx-tooltip="Search for torrents", tooltip-position="bottom", style="margin-right: 5px")
                            i.mdi.mdi--gamepad

                        button.btn.btn--xs.btn--blue.btn--fab(lx-ripple, ng-click="deleteWantedGame(game._id)",
                        lx-tooltip="Delete", tooltip-position="bottom")
                            i.mdi.mdi--delete

            div(ng-hide="wantedGames.length > 0")
                br

                p.text-center.card(class="p+") No game found in your wanted list !