div(ng-controller="WantedCtrl")
    .grid
        .grid__col6
            lx-select(
            placeholder="Search a video game...",
            loading="{{ ajax.loading }}",
            min-length="2"
            allow-clear="true"

            ng-model="ajax.selected"
            choices="ajax.list"
            filter="ajax.update(newValue, oldValue)"
            change="cbSelect.exec(newValue, oldValue)"
            selection-to-model="ajax.toModel(data, callback)"
            model-to-selection="ajax.toSelection(data, callback)")
                lx-select-selected {{ $selected.Title }} ({{ $selected.Year }})
                lx-select-choices  {{ $choice.Title }} - {{ $choice.Type }}

            br

            h1.fs-title(ng-show="wantedGames.length > 0") Wanted video games

            ul
                li(ng-repeat="game in wantedGames")
                    span {{game.Title}}